<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997330411506-e79onvqpj66j9dibrlisuh37tetu3kmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997330411506-e79onvqpj66j9dibrlisuh37tetu3kmu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997330411506-bqmdb7jvk2rn48o7cr4c4p1p6ehui6b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqSWMqKesHvTe-yK5nrlg8myPC9BRIkUk</string>
	<key>GCM_SENDER_ID</key>
	<string>997330411506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sateshkumar.cryptoEstateTech</string>
	<key>PROJECT_ID</key>
	<string>crypto-estate-tech---app</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-estate-tech---app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997330411506:ios:58243dcc46dc510ede556b</string>
</dict>
</plist>