<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903415962027-l9blr5im0po50mfd0dbgm67g3dt1f0qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903415962027-l9blr5im0po50mfd0dbgm67g3dt1f0qi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903415962027-am1a687escjvcrvv5kusghl0l94edmgd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCilX9jTJ4v_4uSFPlIid9gYshUx8xQOL0</string>
	<key>GCM_SENDER_ID</key>
	<string>903415962027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kumarsatesh.cryptoEstateTech</string>
	<key>PROJECT_ID</key>
	<string>cryptoestatetech-aaadd</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoestatetech-aaadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903415962027:ios:c41d8dab8e8d1a44191aee</string>
</dict>
</plist>